{% load static %}
<div class="c-container">
    <div class="btn-add-crud">
        <button type="submit"><a href="{%url 'export_xlsx' %}"><span class="material-symbols-outlined">
                    export_notes
                </span></a></button>
    </div>
    <ul class='head-crud'>
        <li>
            Solicitante
        </li>
        <li>
            Setor
        </li>
        <li>
            Prioridade
        </li>
        <li>
            Técnico
        </li>
        <li>
            Ações
        </li>
    </ul>
    <ul class="search-title">
        <li>
            <form action="." method="GET">
                <input type="search" name="search">
            </form>
        </li>
        <li>
            <form action="." method="GET">
                <input type="search" name="search">
            </form>
        </li>
        <li>
            <form action="." method="GET">
                <input type="search" name="search">
            </form>
        </li>
        <li>
            <form action="." method="GET">
                <input type="search" name="search">
            </form>
        </li>
        <li>

        </li>
    </ul>
    {% for called in calleds %}
    <ul>
        <li>
            {{called.user_requester}}
        </li>
        <li>
            {{called.category}}
        </li>
        <li>
            {{called.priority}}
        </li>
        <li>
            {{called.author}}
        </li>
        <li>
            <div class="btn-edit-crud">
                <div class="btn-view">
                    <button type="submit"><a href="{%url 'called_view' called.id %}"><img src="{% static 'view.svg' %}"
                                alt=""></a></button>
                </div>
            </div>
        </li>
    </ul>
    {% endfor %}
</div>