{% load static %}
<div class="c-container">
    {% if request.user.is_authenticated %}
    <div class="btn-add-crud">
        <button type="submit"><a href="{%url 'export_pass_xlsx' %}"><span class="material-symbols-outlined">
                    export_notes
                </span></a></button>
        <button type="submit"><a href="{%url 'pass_add' %}">ADD</a></button>
    </div>
    {% endif %}
    <ul class='head-crud'>
        <li>
            Técnico
        </li>
        <li>
            Data
        </li>
        <li>
            Ações
        </li>
    </ul>
    <ul class="search-title">
        <li>
            <form action="." method="GET">
                <input type="search" name="search_tec">
            </form>
        </li>
        <li>
            <form action="." method="GET">
                <input type="search" name="search_data">
            </form>
        </li>
        <li>
        </li>
    </ul>
    {% for point in points %}
    <ul>
        <li>
            {{point.author.first_name}}
        </li>
        <li>
            {{point.created_at}}
        </li>
        <li>
            <div class="btn-edit-crud">
                <div class="btn-view">
                    <button type="submit"><a href="{%url 'pass_view' point.id %}"><img src="{% static 'view.svg' %}"
                                alt=""></a></button>
                </div>
            </div>
        </li>
    </ul>
    {% endfor %}
</div>