<div class="c-container">
    {% if request.user.is_authenticated %}
        <div class="btn-add-crud">
            <button type="submit"><a href="{%url 'called_new' %}">ADD</a></button>
        </div>
    {% endif %}
    <ul class='head-crud'>
        <li>
            Solicitante
        </li>
        <li>
            Setor
        </li>
        <li>
            Prioridade
        </li>
        <li>
            Ações
        </li>
    </ul>
    {% for called in calleds %}
    <ul>
        <li>
            {{called.user_requester}}
        </li>
        <li>
            {{called.category}}
        </li>
        <li>
            {{called.priority}}
        </li>
        <li>
            <div class="btn-edit-crud">
                <button type="submit"><a href="{%url 'called_edit' called.id %}">EDIT</a></button>
            </div>
        </li>
    </ul>
    {% endfor %}
</div>