{% load static %}
<div class="c-container">
    {% if request.user.is_authenticated %}
    <div class="btn-add-crud">
        <button type="submit"><a href="{%url 'called_new' %}">ADD</a></button>
    </div>
    {% endif %}
    <ul class='head-crud'>
        <li>
            Solicitante
        </li>
        <li>
            Setor
        </li>
        <li>
            Prioridade
        </li>
        <li>
            Ações
        </li>
    </ul>
    <ul class="search-title">
        <li>
            <form action="." method="GET">
                <input type="search" name="search">
            </form>
        </li>
        <li>
            <form action="." method="GET">
                <input type="search" name="search">
            </form>
        </li>
        <li>
            <form action="." method="GET">
                <input type="search" name="search">
            </form>
        </li>
        <li>
        </li>
    </ul>
    {% for called in calleds %}
    <ul>
        <li>
            {{called.user_requester}}
        </li>
        <li>
            {{called.category}}
        </li>
        <li>
            {{called.priority}}
        </li>
        <li>
            <div class="btn-edit-crud">
                <button type="submit"><a href="{%url 'called_edit' called.id %}">
                        <span class="material-symbols-outlined">
                            edit_note
                        </span>
                    </a></button>
                <div class="btn-view">
                    <button type="submit"><a href="{%url 'called_view' called.id %}"><img src="{% static 'view.svg' %}"
                                alt=""></a></button>
                </div>
            </div>
        </li>
    </ul>
    {% endfor %}
</div>