{% load static %}
<div id="menu">
    <nav>
        <img class='logo' src="{% static 'logo.svg' %}" alt="">
        <a href="{% url 'dashboard' %}">
            <span class="material-symbols-outlined">
                grid_view
            </span>
            Dashboard
        </a>
        <a href="{% url 'dashboard_all' %}">
            <span class="material-symbols-outlined">
                public
            </span>
            Registros
        </a>
        <a href="{% url 'pass_dashboard' %}">
            <span class="material-symbols-outlined">
                list_alt
            </span>
            Registro de Plantão
        </a>
    </nav>
    <form action="{%url 'logout' %}" method='POST'>
        {% csrf_token %}
        <input type="hidden" name="username" value="{{request.user.username}}">
        <button type="submit">
            <img src="{% static 'ttt.png' %}" alt="logout">
        </button>
    </form>
</div>