.c-container {
    max-width: 800px;
    margin: auto;
    margin-top: 200px;
}

.c-container ul {
    background-color: white;
    list-style-type: none;
    display: flex;
    padding: 0px 0px 0px 0px;
    border: 1px solid rgb(110, 109, 109);
    margin: auto;
}

.c-container li {
    margin: auto;
    padding: 10px;
}

.head-crud {
    border-radius: 5px 5px 0px 0px;
}

.head-crud li{
    padding: 20px;
}

.btn-add-crud, .btn-edit-crud{
    display: flex;
    background-color: transparent;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.btn-edit-crud {
    display: flex;
    width: 20px;
    margin: auto;
    justify-content: center;
}

.btn-add-crud button, .btn-edit-crud button{
    background-color: green;
    border: none;
    border-radius: 5px;
    padding: 5px 11px 5px 11px;
    transition: ease-in-out 0.20s;
}

.btn-add-crud button:hover, .btn-edit-crud button:hover {
    filter: drop-shadow(1px 1px 3px black);
}

.btn-add-crud a, .btn-edit-crud a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 10px 23px 10px 23px;
}

.btn-edit-crud button {
    margin: auto;
    background-color: rgb(228, 196, 19);
}