.header-dashboard {
    font-size: 20px;
    font-family: "Roboto";
    color: white;
    width: 400px;
    padding: 20px;
    background: linear-gradient(-45deg,#389ed4,#166285);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    margin: auto;
    text-align: center;
    flex-direction: column;
}

.container-dashboard {
    width: 400px;
    padding: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
    background: white;
    margin: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.button-called-container{
    display: flex;
    align-items: center;
    transition:all 0.4s ease-in-out;
    background: white;
    margin: auto;
}

.button-called-container:hover{
    transform: scale(1.10);
    border-left: 5px solid #166285;
}

.button-called-container a {
    padding: 30px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    word-break: break-all;
}

.button-called-container p {
    opacity: 0.5;
    font-weight: bold;
    font-size: 12px;
    color: black;
    padding: 30px;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.button-called-container img {
    display: flex;
    padding: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
}

.button-called-container button{
    border: none;
    background: none;
}

.icons-t a{
    padding: 0;
    min-width: 20px;
    margin: auto;
    transition:all 0.2s ease-in-out;
    border-radius: 12px;
}

.icons-t a:hover{
    filter: drop-shadow(1px 1px 1px black);
}