@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Titillium+Web:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(-45deg,#0a6a9e,#014869);
    background-attachment: fixed;
    font-family: "Roboto";
}

img {
    width: 50px;
    margin-bottom: -6px;
}

.logo {
    font-family: 'Kanit', sans-serif;
    font-size: 45px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    filter: drop-shadow(1px 2px 4px black);
}

nav {
    display: flex;
    justify-content: space-around;
    font-family: 'Oswald';
    padding: 15px;
    height: 10vh;
    align-content: center;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex;
    padding: 8px;
    text-align: center;
}

.nav-list li {
    display: inline;
    font-size: 22px;
    letter-spacing: 3px;
    margin-left: 32px;
    border: none;
    filter: drop-shadow(1px 1px 1px black);
}

.nav-list a:hover {
    opacity: 1;
    border-bottom: 3px solid rgb(255, 255, 255);
}

.b-a {
    display: inline;
}

.nav-list a {
    opacity: 0.7;
    color: white;
    text-decoration: none;
    border: none;
    transition: all 100ms ease-in-out;
    padding: 9px;
}

.nav-list button:hover {
    opacity: 1;
}

.nav-list button {
    display: inline;
    letter-spacing: 3px;
    margin-left: 32px;
    font-size: 22px;
    opacity: 0.7;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all 100ms ease-in-out;
    border: none;
    background: none;
    cursor: pointer;
    font-family: 'Oswald';

}

.search-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.search-form {
    opacity: 0.7;
    border: .2rem solid rgb(255, 255, 255);
    max-width: 64rem;
    margin: 0 auto;
    border-radius: .3rem;
    position: relative;
    transition: all 300ms ease-in-out;
    background-color: rgb(255, 255, 255);
}

.search-input, .search-button {
    
    border: none;
    background: none;
    outline: none;
    padding: 1rem;
    transition: all 300ms ease-in-out;
}

.search-input {
    width: 100%;
    padding-right: 3rem;
}
.search-button {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.search-button:focus {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.9);
}
.search-form:focus-within {
    opacity: 1;
    border-color: white;
    background: white;
}

.search-form:focus-within .search-button {
    color: black;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    height: 10vh;
}

.footer-list {
    list-style: none;
    display: inline;
    letter-spacing: 3px;
}

.footer-list a {
    text-decoration: none;
    color: white;
    padding: 20px;
    font-family: "Roboto";
    font-size: 15px;
    transition: all 100ms ease-in-out;
}

.footer-list a:hover {
    border-bottom: 3px solid white;
}

.span-2 img {
    max-width: 100%;
    border: 1px dashed black;
    padding: 10px;
}

.span-2 {
    padding: 20px;
}